[Desktop Entry]
Name=Semeru Java 17 Shell
Comment=Semeru Java 17 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-17-semeru/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
